@media(min-width: 720px){
    
    //HEADER
    header{

        .logo{
            background-image: url("../assets/logo-desktop-01.png");
        }
        #ham-btn-id{
            display: none;
        }
        
        .active{
            display: block;
        }
        #menu{
            background-color: white;
            opacity: 1;
            position: relative;
            top: 0;
            height: 100%;
            width: 50%;
            margin-right: 5%;
            display: block;
            .menu-list{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                padding: 0;
                line-height: 50%;
                .menu-list li{
                    display: inline-block;
                    border-bottom: none;                             
                }   
            }
        }
        .menu-list li a{
            font-size: 13px;
            color: #572EE5;
        }    
        .menu-list li a:hover{
            text-decoration: underline #5ED7C6 2px;
        }
        .crear-gifo{
            width: 40px;
            height: 40px;
            display: inline-block;
            background-image: url("../assets/button-crear-gifo.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .crear-gifo:hover{
            background-image: url("../assets/CTA-crear-gifo-hover.svg");
        }

}
    //SECTION TITLE
    .title{
        max-width: 450px;
        h1{
            margin: 0 auto;
        }
    }

    //SEARCH
    .search_section {
        .giphos-search-container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            
                .gipho{
                    width: 50%;
                    height: 50%;
                    align-self: center;
                    justify-self: center;
                    margin-bottom: 30px;
                    box-sizing: border-box;
                    margin: 0 auto;
                }
            }
            // .on-favorites{
            //     display: flex;
            //     flex-wrap: wrap;
            //     .gipho-div-container{
            //         width: 170px;
            //         height: 170px;
            //         padding: 10px;
            //         .gipho{
            //             width: 100%;
            //             height: 100%;
            //             align-self: center;
            //             justify-self: center;
            //             //margin-bottom: 30px;
            //             box-sizing: border-box;
            //             margin: 0 auto;
            //         }
            //     }
            //     }
                
                    
            .fullscreen-container{
                position: fixed;
                top: 0;
                // left: 0;
                // right: 0;
                width: 100%;
                height: 100%;
                z-index: 1000;
                background-color: white;
                .cross-container{
                    height: 20%;
                    width: 100%;
                    .cross-icon-1{
                        background-image: url("../assets/close.svg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        right: 30px;
                        top: 30px;
                        }   
                    }
               
                    // .scroll-container{
                    //     display: flex;
                    //     flex-direction: row;
                    //     width: 100%;
                    //     height: 50%;
                    //     justify-content: center;
                    //     text-align: center;
                    .scroll-container{
                        .previous-icon{
                            background-image: url("../assets/button-slider-left.svg");
                            height: 30px;
                            width: 30px;
                            // position: absolute;
                            // top: 50%;
                            // right: 10%;
                            // transform: translateY(-50%);
                            background-repeat: no-repeat;
                            background-size: 100%;
                            cursor: pointer;
                            position: absolute;
                            top: 43.5%;
                            left: 20%;
                        }
                        .gif-img{
                            width: 40%;
                            height: 100%;
                            margin: auto;
                            max-width: 350px;
                        }
                        .next-icon{
                            background-image: url("../assets/Button-Slider-right.svg");
                            height: 30px;
                            width: 30px;
                            // position: absolute;
                            // top: 50%;
                            // right: 10%;
                            // transform: translateY(-50%);
                            background-repeat: no-repeat;
                            background-size: 100%;
                            cursor: pointer;
                            position: absolute;
                            top: 43.5%;
                            right: 20%;
                        }
                    }  
                    
                    .footer-container{
                        display: flex;
                        justify-content: space-between;
                        text-align: center;
                        width: 40%;
                        height: 30%;
                        margin: 0 auto;
                        max-width: 350px;
                        .footer-data-container{
                            text-align: left; 
                            .user-info{
                                font-size: 12px;
                            }
                            .title-info{
                                font-size: 14px;
                            }
                        }
                        .icons-div-container{
                            display: flex;
                            .like-icon{
                                background-image: url("../assets/icon-fav.svg");
                                background-repeat: no-repeat;
                                background-size: cover;
                                width: 20px;
                                height: 20px;
                                margin-top: 10%;
                            }
                            .download-icon{
                                background-image: url("../assets/icon-download.svg");
                                background-repeat: no-repeat;
                                background-size: cover;
                                width: 20px;
                                height: 20px;
                                margin-top: 10%;
                            }
                        }
                    }
                }
        }
            
                
            
          
  
    //TRENDING
    .trending{
        .scroll-previous{
            background-image: url("../assets/button-slider-left.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            // position: absolute;
            // top: 50%;
            // left: 10%;
            transform: translateY(-40%);
            height: 30px;
            width: 30px;
            cursor: pointer;
        }
        .scroll-next{
            background-image: url("../assets/Button-Slider-right.svg");
            height: 30px;
            width: 30px;
            // position: absolute;
            // top: 50%;
            // right: 10%;
            transform: translateY(-40%);
            background-repeat: no-repeat;
            background-size: 100%;
            cursor: pointer;
        }
        .scroll-previous:hover{
            background-image: url("../assets/button-slider-left-hover.svg");
        }
        .scroll-next:hover{
            background-image: url("../assets/button-slider-right-hover.svg");
        }
    }
    .gifo-screen{
        .camera{
        width: 110px;
        height: 100px;
        background-image: url("../assets/element-camara.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 35%;
        left: 5%;   
        }
        .path{
        width: 60px;
        height: 90px;
        background-image: url("../assets/Path\ 2.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 30.8%;
        left: 16.4%;
        }
    }
    .footer_social{
        display: flex;
        justify-content: space-between;
        text-align: center;
        .social-container{
            display: flex;
            justify-content: space-between;
            width: 250px;
            align-items: center;
            margin-left: 8%;
            i{
                padding: 0 10px;
            }
            i:hover{
                color: #572EE5;
            }
        }
        .derechos{
            margin-right: 8%;
        }
    }
    //DARK MODE

    .dark-mode{
        .logo{
            background-image: url("../assets/Logo-modo-noc.svg");
        }
        #menu{
            background-color: #37383C;
            opacity: 1;
        }
        .menu-list li a{
            text-decoration: none;
            font-weight: bold;
            color: white;
        }
        .trending{
            .scroll-previous{
                background-image: url("../assets/button-slider-left-md-noct.svg");
                
            }
            .scroll-next{
                background-image: url("../assets/button-slider-right-md-noct.svg");
                
            }
        }
        .fullscreen-container{
            background-color: #37383C;
             .cross-icon-1{
                 background-image: url("../assets/close-modo-noc.svg");
             }
             .user-info{
                 color: white;
             }
             .title-info{
                 color: white;
             }
            
        }
        .cross-icon-1{
            background-image: url("../assets/close-modo-noct.svg");
        }
    }

    //TRENDING
    
}
