.search_section{
    margin: 0 auto;
    .search_background{
        width: 100%;
    .image_search{
        width: 80%;
        max-height: 132px;
        margin: 0 10%;
        }
    }
    .search_bar{
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        border: 1px solid #572EE5;
        border-radius: 27px;
        padding: 0 20px;
        width: 75%;
        max-width: 360px;
        margin: 0 auto;
        position: relative;
        .lupa-on-keyup.active {
            background-image: url("../../assets/lupa-keyup.png");
            position: absolute;
            left: 20px;
            color: grey;
            font-size: 20px;
            font-weight: lighter;
            top: 16px;
            display: block;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        #lupa{
            background-image: url("../../assets/icon-search.svg");
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            background-position: center;
            position: absolute;
            right: 25px;
            transform: translateY(10%);
            
        }
        #lupa.lupa-cross{
            background-image: url("../../assets/close.svg");
        }
        .line{
            position: absolute;
            top: 40px;
            width: 83%;
        }
        .suggestion-container{
            .suggestion-div{
                display: flex;
                align-items: center;
                
                .suggestion{
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    font-weight: lighter;
                    color: #9CAFC3;
                    cursor: pointer;
                    padding-left: 5px;                    
                }
                .suggestion::before{
                    content: "\f002";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    color: #9CAFC3;
                    width: 20px;
                    height: 10px;
                    display: inline-block;
                    text-rendering: auto;
                }
                .suggestion:hover{
                    color: #572EE5;
                    font-weight: bold;
                }
            }
            
            
        }
    }
    #search-input{
        width: 85%;
        height: 50px;
        margin: 0;
        border: none;
        outline: none;
        padding-left: 25px;
    }
    .icon-before-words{
        left: 18px;
        color: #9CAFC3;
        top: 18px;
        position: absolute;
        display: none;
        }
    .icon-before-words.active{
        display: inline-block;
    }
   
    .trending_search{
        color: #572EE5;
        text-align: center;
        h2{
            font-size: 16px;
            font-weight: bold;
        }
        p{
            font-size: 14px;
            font-weight: normal;
            width: 66%;
            margin: 0 auto;
            line-height: 25px;
        }
    }
    .giphos-search-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        margin: 1% 10%;
            .gipho-div-container{
                width: 80%;
                height: 80%;
                margin: auto;
                position: relative;
                    .gipho{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // align-self: center;
                        // justify-self: center;
                        // margin-bottom: 30px;
                        // box-sizing: border-box;
                        // margin: 5%;
                        opacity: 1;
                        }
                        .hover-container:hover{
                            opacity: 0.8;
                        }
                        // .gipho:hover{
                        //     opacity: 0.4;
                        // }
                        .hover-container{
                            width: 100%;
                            height: 100%;
                            // align-self: center;
                            // justify-self: center;
                            // margin-bottom: 30px;
                            // box-sizing: border-box;
                            background-color: #572EE5;
                            opacity: 0;
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            // object-fit: cover;
                            
                            .header-container{
                                height: 15%;
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-end;
                                align-items: center;
                                .icon-one-container{
                                    background-image: url("../../assets/icon-fav.svg");
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    width: 20px;
                                    height: 20px;
                                    margin: 13px 7px 7px 0;
                                    display: inline-block;
                                }
                                .icon-one-container.purple-like{
                                    background-image: url("../../assets/icon-fav-active.svg");
                                    background-position: center;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                }
                                
                                .icon-one-container.on-favs{
                                    background-image: url("../../assets/icon-trash-normal.svg");
                                }
                                .icon-one-container.on-favs:hover{
                                    background-image: url("../../assets/icon-trash-hover.svg");
                                }
                                .icon-two-container{
                                    background-image: url("../../assets/icon-download.svg");
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    width: 20px;
                                    height: 20px;
                                    margin: 13px 7px 7px 0;
                                }
                                .icon-three-container{
                                    background-image: url("../../assets/icon-max-normal.svg");
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    width: 20px;
                                    height: 20px;
                                    margin: 13px 7px 7px 0;
                                }
                                
                                .icon-one-container:hover{
                                    background-image: url("../../assets/icon-fav-hover.svg");
                                    
                                }
                                // .icon-one-container.like-icon-active{
                                //     background-image: url("../../assets/icon-fav-active.svg");
                                // }
                                
                                .icon-two-container:hover{
                                    background-image: url("../../assets/icon-download-hover.svg");
                                    
                                }
                                .icon-three-container:hover{
                                    background-image: url("../../assets/icon-max-hover.svg");
                                    
                                }

                            }
                            .footer-container{
                                // position: absolute;
                                // bottom: 0;
                                // left: 0;
                                width: 100%;
                                height: 60%;
                                .user-p-container{
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 10px;
                                    font-weight: normal;
                                    color: #FFFFFF;
                                    margin-bottom: 5%;
                                    margin-left: 5%;
                                }
                                .title-container{
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 10px;
                                    font-weight: bold;
                                    color: #FFFFFF;
                                    margin-bottom: 5%;
                                    margin-left: 5%;

                                }
                            }
                        }
                    }
                }
               
        
    
    .ver-mas-btn{
        margin: 45px auto;
        width: 127px;
        height: 50px;
        background-image: url("../../assets/CTA-ver-mas.svg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 25px;
        cursor: pointer;

    }
    .ver-mas-btn:hover{
        background-image: url("../../assets/CTA-ver-mas-hover.svg");
        
    }
    .nothing-found{
        margin: 5% auto;
        width: 100%;
        height: 20%;
        max-height: 35%;
        
        text-align: center;
        .ouch{
            background-image: url("../../assets/icon-busqueda-sin-resultado.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 70px;
            height: 70px;
            margin: 0 auto;
        }
        .icon-add-favs{
            background-image: url("../../assets/icon-fav-sin-contenido.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 70px;
            height: 70px;
            margin: 0 auto;
        }
        .try-again{
            font-family: "montserrat", sans-serif;
            font-weight: bold;
            color: #50E3C2;
        }
    }
    .fullscreen-container{
        position: fixed;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: white;
        .fullscreen-container::-webkit-scrollbar {
            display: none;
          }
        .cross-container{
            height: 20%;
            width: 100%;
            .cross-icon-1{
                background-image: url("../../assets/close.svg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 15px;
                height: 15px;
                position: absolute;
                right: 4.7%;
                top: 30px;
            }
        }
       
        .scroll-container{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50%;
            justify-content: center;
            text-align: center;
            
         
            .gif-img{
                width: 90%;
                height: 75%;
                margin: auto;
                max-width: 350px;
            }
            
        }
        .footer-container{
            display: flex;
            justify-content: space-between;
            text-align: center;
            width: 90%;
            height: 36%;
            margin: 0 auto;
            max-width: 350px;
            .footer-data-container{
                text-align: left; 
                .user-info{
                    font-size: 8px;
                }
                .title-info{
                    font-size: 10px;
                }
            }
            .icons-div-container{
                display: flex;
                .like-icon{
                    background-image: url("../../assets/icon-fav.svg");
                    background-repeat: no-repeat;
                    width: 30px;
                    height: 30px;
                    margin-top: 10%;
                    margin-right: 10px;
                    
                }
                .like-icon:hover{
                    background-image: url("../../assets/icon-fav-hover.svg");
                }
                .like-icon.on-favs{
                    background-image: url("../../assets/icon-trash-normal.svg");
                }
                .like-icon.on-favs:hover{
                    background-image: url("../../assets/icon-trash-hover.svg");
                }
                .download-icon{
                    background-image: url("../../assets/icon-download.svg");
                    background-repeat: no-repeat;
                    width: 30px;
                    height: 30px;
                    margin-top: 10%;
                }
            }
        }
    }
}


