// PESTAÑA HOME
.title{
    margin: 0.6% auto 0 auto;
    max-width: 320px;

    h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 25px;
        color: #572EE5;
        text-align: center;

        span{
            text-transform: uppercase;
            color: #5ED7C6;
        }
    }
}

//PESTAÑA FAVORITOS

.favoritos{
    img{
        display: block;
        margin: 0 auto;
    }
    h1, h2{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 25px;
        color: #572EE5;
        text-align: center;
    }
}
